@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-secondary: #ec4899;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #0f0f11;
  color: #f3f4f6;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}
