@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #0ea5e9;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #fcfcfd;
  color: #0f172a;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::selection {
  background-color: #4f46e5;
  color: white;
}