@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #0ea5e9;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #fcfcfd;
  color: #0f172a;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::selection {
  background-color: #4f46e5;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s ease infinite;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}